<section class="footer-section">
    <footer class="footer fixed-bottom">
        <div class="footer-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="build-info">Build: 1.0 (14-04-2019)</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="credit-info">Developed by <a href="http://niranzan/com">niranzan</a></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>