@import '../../../sass/variables';
@import '../../../sass/mixins';
.footer-section {
    .fixed-bottom {
        z-index: 100;
    }
}

.footer {
    background-color: $footer-background;
    color: $white;
    padding: 5px;
    .footer-content {
        margin: auto;
        font-size: 12px;
        .build-info {}
        .credit-info {
            text-align: right;
            a {
                color: $white;
            }
        }
    }
}