<div [style.display]="show ? 'block' : 'none'" class="modal" role="dialog" aria-hidden="true" aria-labelledby="resetFormModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Property</h4>
            </div>
            <div class="modal-body">
                Property Values
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary ml-2">Cancel</button>
                <button type="submit" class="btn btn-sm btn-primary ml-2" [disabled]="loading">Save</button>
            </div>
        </div>
    </div>
</div>