@import '../sass/variables';
@import '../sass/mixins';
.wrapper {
    display: flex;
    width: 95%;
    align-items: stretch;
    margin: 0 auto;
    padding: 1.5rem;
    align-items: center;
    display: grid;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .wrapper {
        width: 95%;
    }
}